.asteriskField {
    display: none;
}

#id_category-name,
#id_subcategory-name,
#id_source-name {
    max-width: 250px;
}

#div_id_category-name,
#div_id_subcategory-name,
#div_id_source-name {
    margin-bottom: 0 !important;
    white-space: nowrap;
}

#div_id_category-name label,
#div_id_subcategory-name label
#div_id_source-name label {
    white-space: nowrap;
    margin-bottom: 0;
}

.d-flex.flex-md-row.align-items-center.mb-0 {
  align-items: center !important;
}