<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock head %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Budget app</title>
    {% endif %}

</head>
<body>
    {% if heading %}
        <h1>{{ heading }}</h1>
    {% else %}
        <h1>Budget app</h1>
    {% endif %}
    {% block content %}{% endblock content %}
    {% block script %}{% endblock script %}
</body>
</html>