{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Add expense record
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/expense_add.css' %}">
{% endblock head %}

{% block content %}
    <div class="container text-md-start text-center">
        <h1>Add new expense record</h1>
    </div>

    <div class="container mt-5">
        {% comment %} {% csrf_token %} {% endcomment %}
        {% crispy form %}
    </div>
    
{% endblock content %}

{% block script %}
    <script src="{% static 'js/subcategory_filter.js' %}"></script>
    <script>
        window.categoriesData = {{ categories_json|safe }}
    </script>
{% endblock script %}